<nav class="mobile-nav" aria-label="Mobile">
  <a href="index.html" data-nav="home">
    <img class="mobile-nav__icon" src="assets/images/menu/icon-slots.svg" alt="" />
    <span>Lobby</span>
  </a>
  <a href="casino.html" data-nav="casino">
    <img class="mobile-nav__icon" src="assets/images/menu/icon-live-casino.svg" alt="" />
    <span>Casino</span>
  </a>
  <a href="sports.html" data-nav="sports">
    <img class="mobile-nav__icon" src="assets/images/menu/icon-sports.svg" alt="" />
    <span>Sports</span>
  </a>
  <a href="promotions.html" data-nav="promotions">
    <img class="mobile-nav__icon" src="assets/images/menu/icon-quest.svg" alt="" />
    <span>Promos</span>
  </a>
  <a href="account.html" data-nav="account">
    <img class="mobile-nav__icon" src="assets/images/menu/icon-vip.svg" alt="" />
    <span>Account</span>
  </a>
</nav>
