<section class="tx-section" aria-labelledby="catalog-tx-title">
  <h2 class="home-section__title" id="catalog-tx-title">Betting Transaction</h2>
  <a class="tx-section__more" href="ranking-board.html">View more</a>
  <ui-tabs class="tabs--pills">
    <button type="button" data-tab="all">All bets</button>
    <button type="button" data-tab="top">Top daily winner</button>
    <div data-panel="all">
      <div class="tx-table-wrap">
        <table class="tx-table">
          <thead>
            <tr>
              <th>Game</th>
              <th>Nickname</th>
              <th>Time (GMT+8)</th>
              <th>Region</th>
              <th>Amount (USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Esport</td><td class="tx-table__name">wh**er</td><td>12:01</td><td>MY</td><td>12.50</td></tr>
            <tr><td>Slot Games</td><td class="tx-table__name">te**93</td><td>12:02</td><td>SG</td><td>40.00</td></tr>
            <tr><td>Live Casino</td><td class="tx-table__name">jo**93</td><td>12:03</td><td>VN</td><td>8.25</td></tr>
            <tr><td>Sportbook</td><td class="tx-table__name">mi**88</td><td>12:04</td><td>MY</td><td>15.00</td></tr>
            <tr><td>Slot Games</td><td class="tx-table__name">ka**21</td><td>12:05</td><td>SG</td><td>22.10</td></tr>
            <tr><td>Esport</td><td class="tx-table__name">le**07</td><td>12:06</td><td>MY</td><td>5.00</td></tr>
            <tr><td>Live Casino</td><td class="tx-table__name">na**44</td><td>12:07</td><td>VN</td><td>31.80</td></tr>
            <tr><td>Sportbook</td><td class="tx-table__name">ch**12</td><td>12:08</td><td>SG</td><td>9.40</td></tr>
            <tr><td>Slot Games</td><td class="tx-table__name">pa**66</td><td>12:09</td><td>MY</td><td>18.00</td></tr>
            <tr><td>Live Casino</td><td class="tx-table__name">ru**55</td><td>12:10</td><td>SG</td><td>50.00</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div data-panel="top">
      <div class="tx-table-wrap">
        <table class="tx-table">
          <thead>
            <tr>
              <th>Game</th>
              <th>Nickname</th>
              <th>Time (GMT+8)</th>
              <th>Region</th>
              <th>Amount (USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Live Casino</td><td class="tx-table__name">ru**55</td><td>12:10</td><td>SG</td><td>50.00</td></tr>
            <tr><td>Live Casino</td><td class="tx-table__name">na**44</td><td>12:07</td><td>VN</td><td>31.80</td></tr>
            <tr><td>Slot Games</td><td class="tx-table__name">ka**21</td><td>12:05</td><td>SG</td><td>22.10</td></tr>
            <tr><td>Slot Games</td><td class="tx-table__name">pa**66</td><td>12:09</td><td>MY</td><td>18.00</td></tr>
            <tr><td>Sportbook</td><td class="tx-table__name">mi**88</td><td>12:04</td><td>MY</td><td>15.00</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </ui-tabs>
</section>
